# Saved models
/saved*
/tuned*
*.pth
*.png
*.npy
/recbole_legacy
/dataset/raw*
/docs
/log
/run_example
/asset
/hyper
/recbole_gnn
/scores
/scores*
/results*
/plots

.vscode/
.idea/
*.pyc
*.log
log_tensorboard
saved/
*.lprof
*.egg-info/
docs/build/
wandb/*
/ray_log*

# /dataset
/dataset/**/*.json
/dataset/**/*.gz
/dataset/**/*.gz
/dataset/**/*.csv
/dataset/**/*.item
/dataset/**/*.inter
/dataset/**/*.item2index
/dataset/downstream/
*.sh
!dataset/raw/download.sh
!dataset/preprocessing/preprocess.sh
*.txt
run_dc.sh
significance_test.py

*.npy
*.yml
*.pkl
/tmp*
*.json